@font-face {
  font-family: "FuturaBT";
  src: url("../fonts/futura-bold.ttf");
}
html{

}
body{
  background-color: #fff;
  overflow-x: hidden;
}
.header{
  position: absolute;
  height: 113px;
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 20px;
  z-index: 1;
}
.banner{
  background: url("../image/bg1.jpg") no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  position: relative;
  padding-bottom: 60px;
  text-align: center;
  background-attachment: fixed;
}
.eclipse{
  position: absolute;
  height: 600px;
  background-color: #000000b0;
  width: 100%;
  padding-bottom: 60px;
}

.banner:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 50px solid transparent;
  border-left: 50vw solid #fff;
  border-right: 50vw solid #fff;
}
.header .logo{
  display: inline-flex;
  height: 100%;
  margin-right: 180px;
}
.header .logo p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  
  display: flex;
  align-items: center;
}
.header .buttons{
  display: inline-flex;
  width: 600px;
  height: 100%;
  gap: 56px;
  align-items: center;
}
.header .buttons a{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3E4C4E;
}
.header .buttons a:hover{
  color:#14AFCA;
}
.banner p.center{
  position: sticky;
  padding-top: 300px;
  font-family: 'FuturaBT';
  font-size: 52px;
  line-height: 75px;
  display: flex;
  width: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: center;
}
.what{
  width: 1400px;
  height: 206px;
  margin: 113px auto 100px auto;
  text-align: center;
  background-color: #fff;
  
}
.what h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #14AFCA;
}
.what h2{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 0.9px;
  
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #424F57;
}
.what p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #424F57;
  width:990px;
  margin: 0 auto;
}
.companies{
  width: 100%;
  height: 715px;
  background: url("../image/bg2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.eclipse-companies{
  height: 715px;
  background-color: #000000e0;
  background-size: 100%;
  width: 100%;
}

.companies:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  border-top: 50px solid white;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}
.testimonails{
  height: 750px;
  width: 100%;
}
.companies h1{
  padding-top:130px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #14AFCA;
}
.companies h2{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 0.9px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
}
.companies .wrap{
  display: flex;
  height: 370px;
  width: 1000px;
  row-gap: 110px;
  column-gap: 60px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.companies .wrap .first-line{
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
}
.companies .wrap .second-line{
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
}
.companies .wrap .adobe{
  width: 225px;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meet-us{
  width: 1010px;
  margin: 180px auto 90px auto;
}
.meet-us h1{
  padding-top:130px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #14AFCA;
}
.meet-us h2{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 0.9px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #424F57;
}
.meet-us .cards{
  display: flex;
  justify-content: space-between;
}
.card{
  width: 280px;
  height: 330px;
}
.cards p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  /* or 187% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #424F57;
}
.cards img{
  display: block;
  margin: 0 auto;
}
.testimonails{
  position: relative;
  height: 515px;
  width: 100%;
  background: url("../image/bg2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.eclipse-testimonails{
  height: 100%;
  background-color: #000000e0;
  background-size: 100%;
  width: 100%;
}
.testimonails:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  border-top: 50px solid white;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}
.testimonails h1{
  padding-top:130px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;

  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #14AFCA;
}
.testimonails h2{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 0.9px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
}
.testimonails-center{
  font-family: 'OpenSans';
  font-size: 16px;
  font-style: italic;
  line-height: 28px;
  width: 900px;
  display: flex;
  text-align: center;
  letter-spacing: 0.8px;
  margin: 0 auto;
  color: #D3CCCC;
  justify-content: center;
}
.testimonails .author{
  font-family: 'OpenSans';
  font-size: 18px;
  line-height: 24px;
  font-style: italic;

  width: 600px;
  display: flex;
  align-items: center;
  letter-spacing: 0.45px;
  justify-content: flex-end;
  color: #FFFFFF;
  margin: 30px auto 0px auto;
}
.testimonails:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 50px solid transparent;
  border-left: 50vw solid #fff;
  border-right: 50vw solid #fff;
}
.why{
  height: 580px;
  width: 100%;
}
.why h1{
  padding-top:130px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;

  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #14AFCA;
}
.why h2{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 0.9px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #424F57;
}
.why .formula{
  width: 816px;
  height: 92px;
  margin: 0 auto;
  text-align: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  /* or 160% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;

  color: #424F57;
}
footer .copyright{
  width: 416px;
  height: 60px;
  margin: 0 auto;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.7px;
  margin-bottom: 90px;

  color: #3D3C3C;
}